@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: url(/img/windows-11-7680x4320.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  transition: 0.35s ease;
}

p {
  margin-bottom: 10px;
  margin-top: 15px;
}

li {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

a {
  color: #1c4dda;
}

strong {
  font-weight: bold;
}

.outgoing-link {
  content: url("/img/link-symbol.png");
  margin-left: 3px;
  width: 9px;
}

.container,
.readme-container,
.snake-container {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  -moz-box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  transition: 0.15s ease;
  position: absolute;
}

.name-in-topline {
  display: flex;
  align-items: center;
}

.container {
  width: 340px;
  background-color: #252525;
  top: -60vh;
  left: 10vw;
  min-height: 285px;
  font-size: 0.9rem;
}

hr {
  margin-top: 20px;
  margin-bottom: 25px;
}

li {
  margin-bottom: 10px;
}

.readme-container {
  z-index: 1;
  width: 600px;
  height: 520px;
  background-color: #eff4ed;
  top: -80vh;
  left: -30vw;
}

.snake-container {
  width: 600px;
  height: 500px;
  background-color: #1e1e1e;
  top: -82vh;
  left: -10vw;
  text-align: center;
  overflow: hidden;
  min-width: 360px;
}

.text-readme {
  font-size: 1.01rem;
  font-weight: 100;
}

.translateY {
  transform: translateY(30px) translateX(220px);
  opacity: 1;
}

.slide-down-button {
  color: #1e1e1e;
  background-color: rgb(252 238 228);
  width: 50px;
  height: 100%;
  border-radius: 0 10px 0 0;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: sans-serif;
  line-height: 15px;
  font-size: 0.5rem;
}

.slide-down-button:hover {
  background-color: #f8e38d;
}

.slide-down {
  transform: translateY(-100vh);
  opacity: 0;
  z-index: -1;
}

.content-with-content {
  margin: 0 auto;
  width: 340px;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #f2f2f2;
}

.top-line {
  border-radius: 10px 10px 0 0;
  height: 30px;
  width: 100%;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.p-top-line {
  display: block;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 0 6px;
}

.img-top-line {
  width: 20px;
  margin-left: 7px;
}

input,
.selectPaperSize {
  width: 98%;
  margin: 20px 1% 0 1%;
  background-color: #eff4ed;
  color: #222;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.more_settings_button {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 1%;
  font-size: 12px;
}

.settings_block {
  transition: 0.3s ease;
  height: 0px;
  overflow: hidden;
  box-sizing: border-box;
}

.height280 {
  height: 280px;
}

.height170 {
  height: 170px;
}

.create_button,
.create_XLS_button {
  color: #1e1e1e;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  font-size: 1rem;
  margin: 20px auto 0 auto;
  width: 98%;
  height: 50px;
  background-color: cadetblue;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 1px 4px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 4px 2px rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.05s ease;
}

.create_button:disabled,
.create_XLS_button:disabled {
  color: #555454;
  background-color: rgb(120 129 129);
}

.click01 {
  transform: translateY(1px) translateX(0px);
}

.click02 {
  transform: translateY(10px) translateX(0px);
  opacity: 0;
  pointer-events: none;
}

.author-link {
  text-decoration: none;
  color: rgb(107, 107, 107);
  cursor: pointer;
}

.author {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

.error-value {
  background-color: #fcb5b5;
}

.translateY-for-readme {
  transform: translateX(-150px) translateY(0px);
  opacity: 1;
}

.translateY-for-snake {
  transform: translateY(-90px) translateX(20px);
  opacity: 1;
}

.opacity1 {
  opacity: 1 !important;
}

.text-zone {
  display: block;
  height: calc(100% - 37px);
  overflow-y: scroll;
}

.text-readme {
  width: calc(100% - 30px);
  height: fit-content;
  overflow: auto;
  padding-left: 15px;
  color: #1e1e1e;
  font-family: monospace;
  display: block;
  margin-top: 20px;
}

.z-index10 {
  z-index: 10;
}

.z-index2 {
  z-index: 2;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  transition: 0.35s ease;
  /* opacity: 0; */
  transform: translateY(5px);
  background: rgb(102 71 18 / 75%);
  border-radius: 15px;
}

.menu-bar-animation {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 6px 12px 0 12px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  opacity: 0.7;
  transition: 0.1s ease;
}

.icon:hover > .icon-img,
.icon:hover > a > .icon-img {
  opacity: 1;
}

.icon-img-qr {
  width: 36px;
  border-radius: 3px;
}

.icon-img-readme,
.icon-img-snake {
  width: 44px;
  border-radius: 3px;
}

.icon-img-github,
.icon-img-li {
  width: 37px;
  /* margin-top: 3px; */
}

.go-to-icon {
  transform: skew(2deg, 160deg) translateY(150px) translateX(150px);
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
  z-index: 0;
}

.counter {
  opacity: 0;
}

.icon-text {
  font-size: 0.7rem;
  margin: 0px auto 5px auto;
  text-align: center;
  max-width: 64px;
  width: fit-content;
  color: #fff;
}

.morozov-os-container {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: fixed;
  right: 5px;
  top: 5px;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  -moz-box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  box-shadow: 0px 1px 4px 2px rgba(30, 6, 6, 0.2);
  overflow: hidden;
  transition: 0.2s ease;
  height: 27px;
}

.morozov-os-container:hover {
  height: 200px;
}

.morozov-os-p {
  margin: 4px 8px 5px 8px;
  opacity: 0.9;
  pointer-events: none;
  font-size: 0.8rem;
}

.padding-left-20 {
  padding-left: 20px;
  margin-bottom: 0;
}

.aboutme-main-header {
  font-size: 1.5em;
  color: #1e1e1e;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 15px;
}

.aboutme-litle-header {
  font-size: 1.2em;
  color: #1e1e1e;
  font-family: monospace;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 1px;
}

.readme-text {
  font-size: 1em;
}

.display-none {
  display: none;
}

.snake-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 31px);
}

* {
  box-sizing: border-box;
}

.body {
  text-align: center;
  overflow: hidden;
}

.container_snake {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
  color: #f85656;
}

.square {
  width: 14px;
  height: 14px;
  background-color: #393939;
  margin: 2px;
  box-shadow: 0 0 2px #000;
}

.game_over {
  display: none;
  width: 100%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #fffffffd;
}

.startButton {
  display: inline-block;
  color: #fffffffd;
  text-decoration: none;
  margin: 30px;
}

.button {
  display: none;
  color: #fffffffd;
  text-decoration: none;
  margin: 30px;
}

.start_game {
  display: block;
  width: 100%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #fffffffd;
}

.level {
  display: inline-block;
  color: #fffffffd;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 920px) {
  .readme-container {
    width: 500px;
    height: 520px;
    transform: translateX(-60px) translateY(10px);
  }

  .translateY-for-readme {
    transform: translateX(-60px) translateY(0px);
    opacity: 1;
  }

  .container {
    transform: translateY(40px) translateX(80px);
  }

  .translateY {
    transform: translateY(30px) translateX(80px);
    opacity: 1;
  }

  .snake-container {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .readme-container {
    width: 95%;
    height: 520px;
    transform: translateX(-10px) translateY(0px);
    margin-bottom: 50px;
    position: inherit;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .text-readme {
    font-size: 0.8rem;
  }

  /*   .translateY-for-readme {
    transform: translateX(-10px) translateY(-10px);
    opacity: 1;
  }

  .container {
    min-width: 340px;
    transform: translateY(0px) translateX(0px);
    top: 30px;
    position: absolute;
  }

  .translateY {
    transform: translateY(-10px) translateX(0px);
    opacity: 1;
  } */

  body {
    flex-direction: column;
  }

  .container {
    margin-top: 0px;
    transform: none;
  }

  .readme-container {
    transform: none;
  }

  .snake-container {
    width: 98%;
    transform: translateX(0) translateY(0);
  }
}
